<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"
        id="myModalLabel">Delete Dataset </h4>
</div>
<div class="modal-body">
    <section> <br/> Are you sure you want to delete {{vm.uploadResolve.name}} <br/> <br/> </section>
</div>
<div class="modal-footer"> <button class="btn btn-primary" ng-click="remove()"> Yes </button> <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>    </div>